---
http_interactions:
- request:
    method: get
    uri: http://syspro.wildlandlabs.com:90/SYSPROWCFService/Rest/logon?CompanyId=<syspro_company>&CompanyPassword=&Operator=<syspro_username>&OperatorPassword=<syspro_password>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Content-<syspro_company>ength:
      - '36'
    body:
      encoding: UTF-8
      string: '919BB8178D221E4F92299528B68B597000  '
  recorded_at: Thu, 30 May 2019 23:45:29 GMT
- request:
    method: get
    uri: http://syspro.wildlandlabs.com:90/SYSPROWCFService/Rest/Query/Browse?UserId=919BB8178D221E4F92299528B68B597000%20%20&XmlIn=%3C?xml%20version=%221.0%22%20encoding=%22Windows-1252%22?%3E%0A%3CBrowse%20xmlns:xsd=%22http://www.w3.org/2001/XM<syspro_company>Schema-instance%22%20xsd:noNamespaceSchema<syspro_company>ocation=%22COMBRW.XSD%22%3E%0A%20%20%3CBrowseName%3E<syspro_company>abbeeInvWhControl%3C/BrowseName%3E%0A%20%20%3CStartAtKey%3E%3C/StartAtKey%3E%0A%20%20%3CStartCondition%3E%3C/StartCondition%3E%0A%20%20%3CReturnRows%3E30%3C/ReturnRows%3E%0A%20%20%0A%3C/Browse%3E%0A%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
      Content-<syspro_company>ength:
      - '7988'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"Windows-1252\"?>\n<InvWhControl <syspro_company>anguage='05'
        <syspro_company>anguage2='EN' CssStyle='' DecFormat='1' DateFormat='01' Role='01'
        Version='7.0.038' OperatorPrimaryRole='   '>\n<Title>Warehouses</Title>\n<Row>\n<Warehouse>\n<Value>BJ</Value>\n<DataType>AlphaNumeric</DataType>\n</Warehouse>\n<Description>\n<Value>BRONSON
        &amp; JACOBS</Value>\n<DataType>AlphaNumeric</DataType>\n</Description>\n</Row>\n<Row>\n<Warehouse>\n<Value>CB</Value>\n<DataType>AlphaNumeric</DataType>\n</Warehouse>\n<Description>\n<Value>CO<syspro_company>GATE
        @ BE<syspro_company>GIUM</Value>\n<DataType>AlphaNumeric</DataType>\n</Description>\n</Row>\n<Row>\n<Warehouse>\n<Value>CG</Value>\n<DataType>AlphaNumeric</DataType>\n</Warehouse>\n<Description>\n<Value>CO<syspro_company>GATE
        @ harrah</Value>\n<[...]
